body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#info {
  position: absolute;
  height: 1rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-style: italic;
}

#loadingContainer, #imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.4) url('../assets/spinner.gif') center center no-repeat;
  cursor: pointer;
}

#imageContainer {
  display: none;
}

#loadingContainer .verticalMiddleHelper, #imageContainer .verticalMiddleHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#imageContainer img {
  border: 10px solid white;
  display: none;
}
