body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#form {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  height: 1rem;
  min-width: 5rem;
  width: 50%;
  max-width: 10rem;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
}

#info {
  position: absolute;
  height: 1rem;
  width: 11rem;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  font-style: italic;
}